@use "../../styles/colors" as *;

.behavior-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 400px;

    label {
        font-size: 1rem;
        color: $charcoal;
    }

    input, select {
        padding: 0.5rem;
        border: 1px solid $charcoal;
        border-radius: 0.5rem;
        font-size: 1rem;
    }

    textarea {
        padding: 0.5rem;
        border: 1px solid $charcoal;
        border-radius: 0.5rem;
        font-size: 1rem;
        height: 6rem; // Larger input field for behavior description
        resize: vertical; // Allows resizing but keeps structure
    }

    &__buttons {
        display: flex;
        gap: 1rem;
        margin-top: 1rem;
        justify-content: center;
    }

    &__delete {
        background-color: #d9534f;
        &:hover {
            background-color: rgba(217, 83, 79, 0.8);
        }
    }
}
