@use "../../styles/colors" as *;

.header {
    display: flex; 
    justify-content: space-between;
    align-items: center;

    &__logo-container {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $plum;
    }

    &__logo {
        height: 3rem;
        width: auto;
        margin-right: .625rem;
    }

    &__title {
        font-size: 1.3rem;
        font-weight: bold;
    }

    &__nav {
        display: flex;
        gap: 1.25rem;

        &-link {
            text-decoration: none; 
            color: $orchid;
            font-weight: bold;

            &:hover {
                background-color: $plum;
            }
        }

    }
}