@use "../../styles/colors" as *;

.pet-details {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;

    &__name {
        font-size: 2.5rem;
        color: $plum;
        margin-bottom: 1rem;
        margin-top: 0;
    }
}