@use "./styles/colors" as *;

@font-face {
	font-family: "Superfrog";
	src: url("../assets/fonts/SuperFrog-Yqy1q.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}


body {
  font-family: "Superfrog", sans-serif;
  background-color: $warm-beige;
}

